{% extends 'base.html.twig' %}

{% block title %}Hello UsuarioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! </h1> <!--Usando variables mandadas en la respuesta del Controller-->
    <p>{{ variable }}</p>
    <a href="{{ path('app_usuario') }}">ver pagina</a> <!--Haciendo referencia a una url definida en un controller usando su name, tambien se puede usar url() para una url absoluta-->
</div>
<h2>{{ mensajeextra|default('') }}</h2> <!--Ignorar si la variable es null-->
<h1>Usuarios</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UUID</th>
            <th>Nombre</th>
            <th>Nick</th>
            <th>Numero</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!--Bucle foreach en twig sin necesidad de hacer un bucle en php-->
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.uuid }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.nick }}</td>
                <td>{{ usuario.numero }}</td>
                <td>
                    <!--Pasando parametros a un path en twig-->
                    <a href="{{ path('app_usuario_show', {'id': usuario.id}) }}">Revisar</a>
                    <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">Editar</a>
                    <a href="{{ path('app_usuario_delete', {'id': usuario.id}) }}">Borrar</a>
                </td>
            </tr>
        {% endfor %}
</table>
<a href="{{ path('app_usuario_new') }}">Nuevo</a>

{% endblock %}